<section class="background-kitchen">
  <div class="restaurant container">
    <div class="restaurant-galarey">
      <div class="box-top">
        <div class="text-tumb">
          <p class="decor-par">Amet minim mollit non</p>
          <h2 class="rest-title">Mimiho</h2>
          <p class="rest-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <img
          class="man-img"
          srcset="
            ./images/restaurant/about-kitchen-1_244.jpg 244w,
            ./images/restaurant/about-kitchen-1_488.jpg 488w,
            ./images/restaurant/about-kitchen-1_400.jpg 400w,
            ./images/restaurant/about-kitchen-1_800.jpg 800w,
            ./images/restaurant/about-kitchen-1_460.jpg 460w,
            ./images/restaurant/about-kitchen-1_920.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
          src="./images/restaurant/about-kitchen-1_460.jpg"
          alt="Повар"
          width="460"
          height="574"
        />
      </div>
      <div class="box-buttom">
        <picture>
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_460.jpg 1x,
              ././images/restaurant/about-kitchen-2_920.jpg 2x
            "
            media="(min-width: 1280px)"
            width="460"
            height="574"
          />
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_350.jpg 1x,
              ././images/restaurant/about-kitchen-2_700.jpg 2x
            "
            media="(min-width: 1024px)"
            width="350"
            height="500"
          />
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_200.jpg 1x,
              ././images/restaurant/about-kitchen-2_400.jpg 2x
            "
            media="(max-width: 414px)"
            width="200"
            height="278"
          />
          <img
            class="meet-img"
            src="././images/restaurant/about-kitchen-2_200.jpg"
            alt="Стейк"
            width="200"
          />
        </picture>
        <p class="rest-info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
  </div>
</section>
