<section class="background-kitchen">
  <div class="restaurant container">
    <div class="restaurant-galarey">
      <h1 class="visually-hidden">restaurant</h1>
      <div class="box-top">
        <div class="text-tumb">
          <p class="decor-par">Amet minim mollit non</p>
          <h2 class="rest-title">Mimiho</h2>
          <p class="rest-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="img-box">
          <picture class="man-img">
            <source
              srcset="
                ././images/restaurant/about-kitchen-1_460.jpg 1x,
                ././images/restaurant/about-kitchen-1_920.jpg 2x
              "
              media="(min-width: 1280px)"
              width="460"
              height="574"
            />
            <source
              srcset="
                ././images/restaurant/about-kitchen-1_400.jpg 1x,
                ././images/restaurant/about-kitchen-1_800.jpg 2x
              "
              media="(min-width: 1024px)"
              width="400"
              height="524"
            />
            <source
              srcset="
                ././images/restaurant/about-kitchen-1_244.jpg 1x,
                ././images/restaurant/about-kitchen-1_488.jpg 2x
              "
              media="(max-width: 414px)"
              width="244"
              height="322"
            />
            <img
              class="man-img"
              src="././images/restaurant/about-kitchen-1_244.jpg"
              alt="Chris standing up holding his daughter Elva"
              width="244"
            />
          </picture>
        </div>
      </div>
      <div class="box-buttom">
        <picture class="meet-img">
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_460.jpg 1x,
              ././images/restaurant/about-kitchen-2_920.jpg 2x
            "
            media="(min-width: 1280px)"
            width="460"
            height="574"
          />
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_350.jpg 1x,
              ././images/restaurant/about-kitchen-2_700.jpg 2x
            "
            media="(min-width: 1024px)"
            width="350"
            height="500"
          />
          <source
            srcset="
              ././images/restaurant/about-kitchen-2_200.jpg 1x,
              ././images/restaurant/about-kitchen-2_400.jpg 2x
            "
            media="(max-width: 414px)"
            width="200"
            height="278"
          />
          <img
            src="././images/restaurant/about-kitchen-2_200.jpg"
            alt="Chris standing up holding his daughter Elva"
            width="200"
          />
        </picture>
        <p class="rest-info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="carousel-wrapper">
        <div class="carousel-section owl-carousel">
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
          <div class="slide">
            <img
              class="rest-swip-img"
              srcset="
                ./images/restaurant/slider/about-kitchen-slider-1_194.jpg 194w,
                ./images/restaurant/slider/about-kitchen-slider-1_388.jpg 388w,
                ./images/restaurant/slider/about-kitchen-slider-1_245.jpg 245w,
                ./images/restaurant/slider/about-kitchen-slider-1_490.jpg 490w,
                ./images/restaurant/slider/about-kitchen-slider-1_254.jpg 254w,
                ./images/restaurant/slider/about-kitchen-slider-1_508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
              src="./images/restaurant/slider/about-kitchen-slider-1_254.jpg"
              alt="Room"
              width="460"
              height="574"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
