<div class="restaurant container">
  <div class="restaurant-galarey">
    <div class="box-top">
      <p class="decor-par">Amet minim mollit non</p>
      <h2 class="rest-title">MIMIHO</h2>
      <p class="rest-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="man-img">
        <source
          srcset="
            ../src/img/rest-desc-1.jpg    1x,
            ../src/img/rest-desc-1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          width="522"
          height="574"
        />
        <source
          srcset="
            ../src/img/rest-tab-1.jpg     1x,
            ../src/img/rest-tab-1-@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="400"
          height="524"
        />
        <source
          srcset="
            ../src/img/rest-mob-1.jpg      1x,
            ../src/img/rest-mob-1-@2x-.jpg 2x
          "
          media="(max-width: 767px)"
          width="293"
          height="322"
        />

        <img
          class="man-img"
          src="../src/img/rest-desc-1.jpg"
          alt="Chris standing up holding his daughter Elva"
          width="200"
        />
      </picture>
    </div>
    <div class="box-buttom">
      <picture class="meet-img">
        <source
          srcset="
            ../src/img/rest-desc-2.jpg    1x,
            ../src/img/rest-desc-2@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          width="522"
          height="574"
        />

        <source
          srcset="
            ../src/img/rest-tab-2.jpg     1x,
            ../src/img/rest-tab-2-@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="400"
          height="524"
        />

        <source
          srcset="
            ../src/img/rest-mob-2.jpg     1x,
            ../src/img/rest-mob-2-@2x.jpg 2x
          "
          media="(max-width: 767px)"
          width="293"
          height="322"
        />
        <img
          class="meet-img"
          src="../src/img/rest-desc-2.jpg"
          alt="Chris standing up holding his daughter Elva"
          width="200"
        />
      </picture>
      <p class="rest-info">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</div>
