<section class="background-menu">
  <div class="restaurant-menu container">
    <h3 class="menu-title">Меню ресторану</h3>
    <div class="menu-tumb">
      <div class="top-menu">
        <table class="menu-table">
          <caption class="menu-section">
            Гарячі страви
          </caption>
          <tr>
            <td class="ingredients">
              <span class="food-name"> Борщ з телятини з квасолею</span>
              <br />
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
            <td class="menu-quantity">400 г</td>
            <td class="menu-price">240 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name"> Суп сирний з куркою</span>
              <br />
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
            <td class="menu-quantity">400 г</td>
            <td class="menu-price">240 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Паста карбонара</span>
              <br />
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
            <td class="menu-quantity">350 г</td>
            <td class="menu-price">430 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Стейк зі свинини</span>
              <br />
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
            <td class="menu-quantity">400 г</td>
            <td class="menu-price">500 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Горбуша в соусі з білого вина</span>
              <br />
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
            <td class="menu-quantity">400 г</td>
            <td class="menu-price">400 грн</td>
          </tr>
        </table>

        <table class="menu-table">
          <caption class="menu-section">
            Гарніри та закуски
          </caption>
          <tr>
            <td class="ingredients">
              <span class="food-name"> Запечені овочі</span>
              <br />
              Кабачок, перець, помідор, баклажан
            </td>
            <td class="menu-quantity">200 г</td>
            <td class="menu-price">230 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Картопля фрі</span>
              <br />
              Картопля, соус томатний
            </td>
            <td class="menu-quantity">150 г</td>
            <td class="menu-price">160 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Картопля по-селянськи</span>
              <br />
              Картопля, спеції, соус пікантний
            </td>
            <td class="menu-quantity">150 г</td>
            <td class="menu-price">160 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Хрумкі соління з бочки</span>
              <br />
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
            <td class="menu-quantity">250 г</td>
            <td class="menu-price">360 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Крильця курячі в медовому соусі</span>
              <br />
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
            <td class="menu-quantity">400 г</td>
            <td class="menu-price">420 грн</td>
          </tr>
        </table>
      </div>
      <div class="bot-menu">
        <table class="menu-table">
          <caption class="menu-section">
            Салати
          </caption>
          <tr>
            <td class="ingredients">
              <span class="food-name"> Цезар з куркою</span>
              <br />
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
            <td class="menu-quantity">230 г</td>
            <td class="menu-price">450 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Цезар з креветками</span>
              <br />
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
            <td class="menu-quantity">230 г</td>
            <td class="menu-price">300 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Картопля по-селянськи</span>
              <br />
              Картопля, спеції, соус пікантний
            </td>
            <td class="menu-quantity">150 г</td>
            <td class="menu-price">160 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">Грецький салат</span>
              <br />
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
            <td class="menu-quantity">230 г</td>
            <td class="menu-price">280 грн</td>
          </tr>
          <tr>
            <td class="ingredients">
              <span class="food-name">М’ясний салат</span>
              <br />
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
            <td class="menu-quantity">230 г</td>
            <td class="menu-price">300 грн</td>
          </tr>
        </table>
        <div class="deserts">
          <table class="menu-table">
            <caption class="menu-section">
              Десерти
            </caption>
            <tr>
              <td class="ingredients">
                <span class="food-name">Торт наполеон</span>
              </td>
              <td class="menu-quantity">230 г</td>
              <td class="menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Торт маковий</span>
              </td>
              <td class="menu-quantity">230 г</td>
              <td class="menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Тірамісу</span>
              </td>
              <td class="menu-quantity">120 г</td>
              <td class="menu-price">260 грн</td>
            </tr>
          </table>
          <table class="menu-table">
            <caption class="menu-section">
              Напої
            </caption>
            <tr>
              <td class="ingredients">
                <span class="food-name">Чай чорний/зелений</span>
              </td>
              <td class="menu-quantity">500 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Еспресо</span>
              </td>
              <td class="menu-quantity">30 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Американо</span>
              </td>
              <td class="menu-quantity">150 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Капучино</span>
              </td>
              <td class="menu-quantity">200 мл</td>
              <td class="menu-price">160 грн</td>
            </tr>
            <tr>
              <td class="ingredients">
                <span class="food-name">Лате</span>
              </td>
              <td class="menu-quantity">200 мл</td>
              <td class="menu-price">160 грн</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <button class="menu-butt" type="button">Забронювати столик</button>
  </div>
</section>
