.container {
    width: 100%;
    margin: 0 auto;

    // Mobile version
    max-width: 414px;
    padding: 0 15px;

    // Tablet version
    @media (min-width: 1024px) {
        max-width: 1024px;
        padding: 0 47px;
    }

    // Desktop version
    @media (min-width: 1280px) {
        max-width: 1280px;
        padding: 0 85px;
    }
}

// Hides an element from visual presentation, while keeping it in the DOM
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}