
.button {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-accent);
    border-radius: 25px;
    transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}

.button:hover,
.button:focus {
      background-color: var(--color-accent);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      color: var(--color-black);
}

.arrow-link {
    fill: #C79002;
    color: #C79002;
    transition: fill 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}

.arrow-link:hover,
.arrow-link:focus {
      color: var(--color-accent);
      fill: var(--color-accent);
}

@media screen and (max-width: 413px) {
    .section-description {
        background-color: var(--color-background-main);
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman', serif;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 16px;
        color: var(--color-black);
        line-height: calc(37/32);
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: calc(28/24);

        margin-top: 32px;
        margin-bottom: 16px;
    }

    .paragraph {
        font-weight: 700;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }

    .list-paragraph {
        font-weight: 700;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }



    .button {
        padding: 20px 43px;
        background: var(--color-black);
        color: var(--color-white);

        font-family: 'Montserrat';
        font-size: 20px;
        line-height: calc(24/20);
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .arrow-link {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.02em;
        
    }

    .arrow {
        width: 22.43px;
        height: 12.62px;
        margin-left: 12.75px;
    }

}

/* -------------------------Screen Mobile----------------------------- */
@media screen and (max-width: 1023px) {
    .section-description {
        background-color: var(--color-background-main);
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 16px;

        color: var(--color-black);
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 32px;
        margin-bottom: 16px;
    }
    .paragraph-box {
        // display: inline-flex;
        // column-gap: 59px;
    }

    .paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }

    .list-paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }

    .list-paragraph + .list-paragraph {
        margin-top: 16px;
    } 


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 32px;
    }



    .button {
        padding: 20px 49px;
        box-sizing: border-box;
        background: var(--color-black);
        color: var(--color-white);

        font-family: 'Montserrat';

        font-size: 19px;
        line-height: calc(24/20);
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 20px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--color-black);
    }

    .arrow-link {
        align-items: flex-start;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.02em;


        fill: var(--color-text-brand);
        color: var(--color-text-brand);
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 22px;
        height: 12px;
        margin-left: 12px;
    }

}



/* -------------------------Screen Tablet----------------------------- */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    // .container {
    //     width: 1024px;
    //     padding: 0 85px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }


    .section-description {
        background-color: var(--color-background-main);

        padding-top: 50px;
        padding-bottom: 40px;
    }


    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        
        
        color: var(--color-black);

        line-height: 37px;
        margin-bottom: 24px;
    }
    .list-title {
        text-transform: uppercase;

        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 42px;
        margin-bottom: 24px;
    }
    .paragraph-box {
        display: inline-flex;
        column-gap: 80px;
    }

    .paragraph {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: var(--color-text-base);
    }

    .list-paragraph {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        
        color: var(--color-text-base);
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 49px;
    }



    .button {
        width: 434px;
        height: 64px;
        box-sizing: border-box;
        background: var(--color-black);
        color: var(--color-white);

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 35px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--color-black)
    }

    .arrow-link {
        display: flex;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        fill: var(--color-text-brand);
        color: var(--color-text-brand);
        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

}

/* -------------------------SCREEN DESCTOP----------------------------- */


@media screen and (min-width: 1280px) {
    // .container {
    //     width: 1280px;
    //     padding: 0 85px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }




    .section-description {
        background-color: var(--color-background-main);
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;

        color: var(--color-black);

        line-height: 37px;
        margin-bottom: 24px;
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 42px;
        margin-bottom: 24px;
    }
    .paragraph-box {
        display: inline-flex;
        column-gap: 70px;
    }

    .paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }

    .list-paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: var(--color-text-base);
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 49px;
    }



    .button {
        width: 434px;
        height: 64px;
        box-sizing: border-box;
        background: var(--color-black);
        color: var(--color-white);

        font-size: 24px;
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 35px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--color-black);
    }

    .arrow-link {
        display: flex;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        fill: var(--color-text-brand);
        color: var(--color-text-brand);
        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

}