
:root {
    // GENERIC
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-accent: rgba(243, 198, 83, 1); // Accent yellow
    // TEXT
    --color-text-base: rgba(122, 122, 122, 1);
    --color-text-light: rgba(180, 180, 180, 1);
    --color-text-dark: rgba(73, 72, 72, 1);
    --color-text-brand: rgba(199, 144, 2, 1); // Brown
    --color-text-silver: rgba(229, 229, 229, 1);
    //BACKGROUND
    --color-background-main: rgba(255, 253, 238, 1); // HEX #FFFDEE
    --color-background-dark: rgba(240, 236, 214, 1); // HEX #F0ECD6
    --color-background-tint: rgba(0, 0, 0, 0.65); // to darken background images
    // ICONS
    --color-icon-accent: rgba(243, 198, 83, 0.7);
    // SPECIFIC SECTIONS
    --color-contacts-grey: rgb(130,130,130); // HEX #828282
    --color-footer-background: rgba(14, 12, 7, 1); // HEX #0E0C07
    --color-modal-placeholder: rgba(128, 128, 128, 1);
}
/* -------------------ADAPTIVE--------------------------------- */

.section-description-container {

    padding: 0px 15px;
    margin: 0 auto;

}

/* -------------------------Screen Mobile(small)----------------------------- */
@media screen and (max-width: 413px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding: 0px 15px;
    }


    .section-description {
        background-color: var(--color-background-main);
        padding-top: 32px;
        padding-bottom: 32px;
    }


    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;

        margin-bottom: 16px;
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 32px;
        margin-bottom: 16px;
    }
    .paragraph-box {
    }

    .paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }

    .list-paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 72px;
    }



    .button {
        width: 384px;
        height: 64px;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;

        font-family: 'Montserrat';
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 20px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #000000;
    }

    .arrow-link {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.02em;


        fill: var(--color-text-brand);
        color: var(--color-text-brand);

        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 22.43px;
        height: 12.62px;
        margin-left: 12.75px;
    }

}

/* -------------------------Screen Mobile----------------------------- */
@media screen and (min-width: 414px) and (max-width: 1023px) {
    .container {
        width: 414px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
    }


    .section-description {
        background-color: var(--color-background-main);
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 16px;
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 32px;
        margin-bottom: 16px;
    }
    .paragraph-box {
        // display: inline-flex;
        // column-gap: 59px;
    }

    .paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }

    .list-paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }

    .list-paragraph + .list-paragraph {
        margin-top: 16px;
    } 


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 32px;
        margin-bottom: 72px;
    }



    .button {
        width: 384px;
        height: 64px;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;

        font-family: 'Montserrat';
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 20px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #000000;
    }

    .arrow-link {
        align-items: flex-start;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.02em;


        fill: var(--color-text-brand);
        color: var(--color-text-brand);
        
        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 22px;
        height: 12px;
        margin-left: 12px;
    }

}



/* -------------------------Screen Tablet----------------------------- */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 1024px;
        padding: 0 85px;
        margin-left: auto;
        margin-right: auto;
    }


    .section-description {
        background-color: var(--color-background-main);
        padding-top: 54px;
        padding-bottom: 50px;
    }


    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        
        
        color: #000000;

        line-height: 37px;
        margin-bottom: 24px;
    }
    .list-title {
        text-transform: uppercase;

        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 42px;
        margin-bottom: 24px;
    }
    .paragraph-box {
        display: inline-flex;
        column-gap: 80px;
    }

    .paragraph {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #7A7A7A;
    }

    .list-paragraph {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        
        color: #7A7A7A;
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 49px;
        margin-bottom: 36px;
    }



    .button {
        width: 434px;
        height: 64px;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 35px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #000000;
    }

    .arrow-link {
        display: flex;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        fill: var(--color-text-brand);
        color: var(--color-text-brand);
        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

}

/* -------------------------SCREEN DESCTOP----------------------------- */


@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 0 85px;
        margin-left: auto;
        margin-right: auto;
    }




    .section-description {
        background-color: var(--color-background-main);
        padding-top: 54px;
        padding-bottom: 50px;
    }


    .list {
        list-style: none;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;

        line-height: 37px;
        margin-bottom: 24px;
    }
    .list-title {
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin-top: 42px;
        margin-bottom: 24px;
    }
    .paragraph-box {
        display: inline-flex;
        column-gap: 70px;
    }

    .paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }

    .list-paragraph {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #7A7A7A;
    }


    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 49px;
        margin-bottom: 36px;
    }



    .button {
        width: 434px;
        height: 64px;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;

        font-size: 24px;
        font-weight: 500;

        border: 1px solid var(--color-accent);
        border-radius: 25px;

        margin-bottom: 35px;
    }
    .button:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #000000;
    }

    .arrow-link {
        display: flex;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        fill: var(--color-text-brand);
        color: var(--color-text-brand);
        
    }
    .arrow-link:hover {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    .arrow {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

}