<section class="section-description">
    <div class="section-description-container">

        <ul class="list">
            <li>
                <h2 class="title">Зручності у номері</h2>
                <p class="paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia<br>consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li class="list-item">
                <h3 class="list-title">Загальні</h3>
                <div class="paragraph-box">
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco 
                    est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco
                    est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
                </div>
            </li>

            <li class="list-item">
                <h3 class="list-title">Ванна кімната</h3>
                <div class="paragraph-box">
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco
                    est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco
                    est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation 
                    veniam consequat sunt nostrud amet.
                </p>
                </div>
            </li>

            <li class="list-item">
                <h3 class="list-title">Спальня</h3>
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco 
                    est<br>sit aliqua dolor do amet sint. 
                </p>
            </li>

            <li class="list-item">
                <h3 class="list-title">Кухня</h3>
                <div class="paragraph-box">
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </p>
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </p>
                </div>
            </li>

            <li class="list-item">
                <h3 class="list-title">Медіа</h3>
                <p class="list-paragraph">Amet minim mollit non deserunt ullamco est<br>sit aliqua dolor do amet sint. Velit officia<br>consequat duis enim velit mollit.
                </p>
            </li>
        </ul>


            <div class="buttons-container">
                <div><button class="button" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button></div>
                <div class="arrow-button-container">
                    <a class="arrow-link" href="">Повернутися до перегляду номерів</a>
                    <svg class="arrow"><use href="./images/icons.svg#arrow-right"></use></svg>
                </div>
            </div>
        </div>
    </section>