<section class="room-hero">
  <div class="container">
    <div class="room-hero__container">
      <div class="room-hero__heading">
        <h1 class="room-hero__title">Двомісний номер</h1>
        <p class="room-hero__subtitle">люкс</p>
      </div>
      <p class="room-hero__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <div class="room-hero__interactables">
        <div class="room-hero__location">
          <svg width="20" height="20">
            <use href="./images/icons.svg#location-pin"></use>
          </svg>
          <address class="room-hero__location-text">
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </address>
        </div>
        <ul class="room-hero__iconlist">
          <li class="room-hero__icon">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="room-hero__icon">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-hero__icon">
            <a
              href="https://telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <button class="room-hero__button js-open-modal" type="button" data-modal="price">Переглянути ціни</button>
    </div>
  </div>
</section>
