<div class="backdrop is-hidden">
    <div class="modal">
        <form class="">
            <b class="">Ціни на номер</b>
            <div>
            <select id="category" name="category">
                <option value="двомісний">Двомісний</option>
                <option value="двомісний люкс" selected>Двомісний люкс</option>
                <option value="трьохмісний">Трьохмісний</option>
            </select>
            <label for="category">Категорія номеру</label>
            </div>
            <div class="">
                <input class="" type="number" name="night" min="1" placeholder="1">
                <label for="night">Кількість ночей</label>
            </div>
            <div class="">
                <input class="" type="number" name="price" min="1000" step="1000" value="" placeholder="1000">
                <label for="price">грн</label>
            </div>
            <div class="">
                <button class="" type="submit">Забронювати номер</button>
            </div>
        </form>
        <button class="" type="button"></button>
    </div>