<section class="hotel-hero-second">
    <div class="container container-hero-hotel">
     <div class="hero-hotel-second"> 
      <a class="map-pic-hero-hotel-second" href="#" height="20" width="20">
          <svg class="hero-hotel-svg" width="20" height="20">
            <use href="./images/icons.svg#location-pin"></use>
          </svg>
      </a>
      <span class="adress-hero-hotel-second">Україна, м. Полтава, <br/> 
        вул. Маршала Бірюзова, 15
      </span>
     </div>
     <h1 class="hero-hotel-title-second">mimino</h1>
     <p class="hero-hotel-name-service-second">Ресторанно-готельний комплекс</p>
     <p class="hero-hotel-name-service-sl-second">СМАК ЖИТТЯ 24/7</p>
     <ul class="hero-hotel-buttons-second">
     <li><button class="button-style-hero-hotel-second"> Забронювати столик </button></li>
     <li><button class="button-style-hero-hotel-second"> Забронювати номер </button></li>
    </ul>
    <ul class="social-media-hero-hotel-second">
      <li >
    <a href="#" class="social-media-links-second" height="24" width="24">
      <svg class="hero-restaurant-svg-second" width="20" height="20">
        <use href="./images/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="social-media-links-second" height="28" width="28">
      <svg class="hero-restaurant-svg-second" width="20" height="20">
        <use href="./images/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="social-media-links-second" height="28" width="28">
      <svg class="hero-restaurant-svg-second" width="20" height="20">
        <use href="./images/icons.svg#telegram"></use>
      </svg>
    </a>
  </li>
  </ul>
     </div>
  </section>