<section class="hotel-hero-second">
  <div class="container container-hero-hotel">
    <a
      class="hero-hotel-second"
      href="https://goo.gl/maps/LiFaSkYaek49ywpw8"
      rel="noreferrer noopener nofollow"
    >
      <svg class="hero-hotel-location-pin" width="20" height="20">
        <use href="./images/icons.svg#location-pin"></use>
      </svg>
      <address class="adress-hero-hotel-second">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </address>
    </a>
    <h1 class="hero-hotel-title-second">Mimiho</h1>
    <p class="hero-hotel-name-service-sl-second">Готель</p>
    <ul class="hero-hotel-buttons-second">
      <li>
        <button
          class="button-style-hero-hotel-second js-open-modal"
          type="button"
          data-modal="table"
        >
          Забронювати столик
        </button>
      </li>
      <li>
        <button
          class="button-style-hero-hotel-second js-open-modal"
          type="button"
          data-modal="room"
        >
          Забронювати номер
        </button>
      </li>
    </ul>
    <ul class="social-media-hero-hotel-second">
      <li class="social-media-hero-hotel-item">
        <a
          href="#"
          class="social-media-hotel-links-second"
          height="24"
          width="24"
        >
          <svg class="hero-hotel-svg" width="20" height="20">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-hero-hotel-item">
        <a
          href="#"
          class="social-media-hotel-links-second"
          height="28"
          width="28"
        >
          <svg class="hero-hotel-svg" width="20" height="20">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-hero-hotel-item">
        <a
          href="#"
          class="social-media-hotel-links-second"
          height="28"
          width="28"
        >
          <svg class="hero-hotel-svg" width="20" height="20">
            <use href="./images/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
