<section class="double-lux">
  <div class="container">
    <p class="double-lux__suptext">Amet minim mollit non</p>
    <p class="double-lux__logo">Mimino</p>
    <h2 class="double-lux__title">
      <span class="uppercase">Двомісний номер</span> люкс
    </h2>
    <p class="double-lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="double-lux__img"
      srcset="
        ./images/hotel/room-img_244.jpg 244w,
        ./images/hotel/room-img_488.jpg 488w,
        ./images/hotel/room-img_400.jpg 400w,
        ./images/hotel/room-img_800.jpg 800w,
        ./images/hotel/room-img_460.jpg 460w,
        ./images/hotel/room-img_920.jpg 920w
      "
      sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
      src="./images/hotel/room-img_460.jpg"
      alt="Room"
      width="460"
      height="574"
    />

    <div class="double-lux__content">
      <div class="double-lux__slider">
        <div class="double-lux__slider-images">
          <img
            class="double-lux__slider-img"
            srcset="
              ./images/hotel/slider/room-slider-1_194.jpg 194w,
              ./images/hotel/slider/room-slider-1_388.jpg 388w,
              ./images/hotel/slider/room-slider-1_254.jpg 254w,
              ./images/hotel/slider/room-slider-1_508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="./images/hotel/slider/room-slider-1_194.jpg"
            alt="Slider image"
            width="254"
            height="254"
          />
          <img
            class="double-lux__slider-img"
            srcset="
              ./images/hotel/slider/room-slider-2_194.jpg 194w,
              ./images/hotel/slider/room-slider-2_388.jpg 388w,
              ./images/hotel/slider/room-slider-2_254.jpg 254w,
              ./images/hotel/slider/room-slider-2_508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="./images/hotel/slider/room-slider-2_194.jpg"
            alt="Slider image"
            width="254"
            height="254"
          />
        </div>

        <div class="double-lux__slider-arrows">
          <svg class="double-lux__icon-arrow" width="32" height="32">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
          <svg class="double-lux__icon-arrow" width="32" height="32">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>

      <div class="double-lux__buttons">
        <a class="double-lux__button" href="./room.html">Детальніше</a>
        <button class="double-lux__button js-open-modal" type="button" data-modal="price">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
