<section class="triple">
  <div class="container">
    <p class="triple__suptext">Amet minim mollit non</p>
    <p class="triple__logo">Mimino</p>
    <div class="triple__description">
      <h2 class="triple__title">
        <span class="uppercase">Трьохмісний номер</span>
      </h2>
      <p class="triple__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      class="triple__img"
      srcset="
        ./images/hotel/room-img_244.jpg 244w,
        ./images/hotel/room-img_488.jpg 488w,
        ./images/hotel/room-img_400.jpg 400w,
        ./images/hotel/room-img_800.jpg 800w,
        ./images/hotel/room-img_460.jpg 460w,
        ./images/hotel/room-img_920.jpg 920w
      "
      sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
      src="./images/hotel/room-img_460.jpg"
      alt="Room"
      width="460"
      height="574"
    />

    <div class="triple__content">
      <div class="triple__slider">
        <div class="triple__slider-images">
          <img
            class="triple__slider-img"
            width="244"
            height="322"
            srcset="
              ./images/hotel/slider/room-slider-1_194.jpg 194w,
              ./images/hotel/slider/room-slider-1_388.jpg 388w,
              ./images/hotel/slider/room-slider-1_254.jpg 254w,
              ./images/hotel/slider/room-slider-1_508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="./images/hotel/slider/room-slider-1_194.jpg"
            alt="Slider image"
          />
          <img
            class="triple__slider-img"
            width="244"
            height="322"
            srcset="
              ./images/hotel/slider/room-slider-2_194.jpg 194w,
              ./images/hotel/slider/room-slider-2_388.jpg 388w,
              ./images/hotel/slider/room-slider-2_254.jpg 254w,
              ./images/hotel/slider/room-slider-2_508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="./images/hotel/slider/room-slider-2_194.jpg"
            alt="Slider image"
          />
        </div>

        <div class="triple__slider-arrows">
          <svg class="triple__icon-arrow" width="32" height="32">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
          <svg class="triple__icon-arrow" width="32" height="32">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>

      <div class="triple__buttons">
        <a class="triple__button" href="./room.html">Детальніше</a>
        <button class="triple__button" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
