// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 1;

//     visibility: visible;
//     transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);

//     background-color: rgba(46, 47, 66, 0.4);
// }

//  .backdrop.is-hidden {
//      opacity: 0;
//      pointer-events: none;
// }

//  .backdrop.is-hidden .modal {
//     transform: translate(-50%, -50%) scale(1.1);
//  }

.modal-price {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms var(--transition-timing-function);

    min-width: 414px;
    min-height: 572px;
    padding: 60px 15px;


    background-color: var(--color-white);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.modal-form {
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-field input {
    padding: 13px 15px;
    margin: 0;

    transition: border-color 250ms var(--transition-timing-function);

    border: 1px solid var(--color-text-brand);
    }

.form-select {
    border: none;
    margin-bottom: 28px;
}

.modal-title {
    display: block;
    text-align: center;
    text-transform: uppercase;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;

    margin-bottom: 40px;
}

.form-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    
    color: var(--color-text-brand);

    padding-top: 8px;
}

.form-input::placeholder {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;
    
    color: var(--color-modal-placeholder);

}

.form-input {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;
    
    color: var(--color-modal-placeholder);
}

.btn-submit {
    padding: 20px;
    margin-top: 40px;

    min-width: 384px;

    text-align: center;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);

    text-transform: uppercase;

    background-color: var(--color-black);
    color: var(--color-white);

    cursor: pointer; 

    border: 1px solid var(--color-accent);
    border-radius: 2px;

    transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}
.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--color-accent);
    color: var(--color-black);
}
.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 16px;
    right: 16px;

    border: none;
    background-color: var(--color-white);
    fill: var(--color-black);

   padding: 0;

}

@media screen and (min-width: 1024px) {
    .modal-price {
        
        padding: 60px;

        min-width: 712px;
        min-height: 489px;

    }
    .modal-form {
        margin: 0;
    }

     .modal-price-tablet {
         display: flex;
         align-items: center;
         gap: 16px;
     }


     .modal-title {

    font-size: 32px;
    line-height: calc(37 / 32);

    }

        .btn-submit {
            padding: 18px;
            margin-top: 40px;
    
            min-width: 592px;

            font-size: 24px;
            line-height: calc(29 / 24);
        }


        .form-field input {
        width: 288px; 
        }
}
