// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }

// .backdrop {
//   position: fixed;

//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   background-color: rgba(0, 0, 0, 0.65);
//   opacity: 1;
// }

.backdrop.is-hidden .modal-table-book {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Видаляе всі стилі з інпуту */

.table-field-area {
  all: unset;
}

/* Видаляє стилі з кнопок */

.modal-table-send,
.menu-close-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/* Приховуе іконку дати */

[type='date']::-webkit-inner-spin-button,
[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Основний розмір контейнера */

.modal-table-book {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 60px 15px;

  width: 414px;

  background-color: #fffdee;
}

/* Tablet version */

@media only screen and (min-width: 1024px) {
  .modal-table-book {
    width: 712px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Абсолютно спозиціонована кнопка закриття */

.menu-close-btn {
  position: absolute;
  right: 16px;
  top: 16px;

  width: 24px;
  height: 24px;
}

/* Контейнер форми */

.table-book-form {
  display: flex;
  flex-direction: column;

  width: 384px;
}

@media only screen and (min-width: 1024px) {
  .table-book-form {
    width: 592px;
  }
}

/* Назва контейнеру */

.table-book-title {
  margin-bottom: 40px;

  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-align: center;

  color: var(--color-black);
}

.table-form-box {
  padding-bottom: 40px;
}

@media only screen and (min-width: 1024px) {
  .table-form-box {
    display: flex;
    gap: 16px;
  }
}

/* Змінні лейблу */

.table-form-field {
  display: flex;
  flex-direction: column;

  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .form-label-box:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Tablet version  */

@media only screen and (min-width: 1024px) {
  .form-label-box {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .table-form-field:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .table-form-field:first-child {
    margin-bottom: 20px;
  }
}

/* Змінні інпуту */

.table-field-area {
  margin-bottom: 8px;
  padding: 16px 12px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  border: 1px solid var(--color-text-brand);
  border-radius: 2px;
  color: var(--color-modal-placeholder);
}

/* Видаляе стрілочку вниз з select  */

.area-options {
  color: var(--color-modal-placeholder);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/*  Назва лейблу */

.table-form-label {
  margin-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: var(--color-text-brand);
}

/* Кнопка відправки форми */

.modal-table-send {
  padding-top: 18px;
  padding-bottom: 18px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  border: 1px solid var(--color-icon-accent);
  border-radius: 2px;
  color: var(--color-white);
  background-color: var(--color-black);

  cursor: pointer;
}

.modal-table-send:hover,
.modal-table-send:active {
  background-color: var(--color-icon-accent);
  color: var(--color-black);
}

/* Date picker */

.modal-table-position {
  position: relative;
  cursor: pointer;
}

/* Іконки стрілка вниз */

.modal-table-icon {
  position: absolute;
  right: 15px;
  top: 15px;

  width: 24px;
  height: 24px;
  cursor: pointer;
  pointer-events: none;

  fill: var(--color-text-brand);
}

.restaurant-descr-img {
  height: 100%;
}

.homepage.btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.homepage.details-restaurant {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 40px;

  background-color: var(--color-accent);
  background-image: linear-gradient(
      to top left,
      var(--color-background-tint),
      var(--color-background-tint)
    ),
    url(../images/homepage/details-restaurant/background/details-restaurant-background_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);

  overflow: hidden;
}

.details-restaurant-box {
  position: relative;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homepage.details-restaurant {
    background-image: linear-gradient(
        to top left,
        var(--color-background-tint),
        var(--color-background-tint)
      ),
      url(../images/homepage/details-restaurant/background/details-restaurant-background_mob@2x.jpg);
  }
}

@media screen and (min-width: 415px) {
  .homepage.details-restaurant {
    background-image: linear-gradient(
        to top left,
        var(--color-background-tint),
        var(--color-background-tint)
      ),
      url(../images/homepage/details-restaurant/background/details-restaurant-background_tab@1x.jpg);
  }
}

@media screen and (min-width: 415px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 415px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 415px) and (min-resolution: 192dpi),
  screen and (min-width: 415px) and (min-resolution: 2dppx) {
  .homepage.details-restaurant {
    background-image: linear-gradient(
        to top left,
        var(--color-background-tint),
        var(--color-background-tint)
      ),
      url(../images/homepage/details-restaurant/background/details-restaurant-background_tab@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .homepage.details-restaurant {
    padding-top: 48px;
  }
}

@media screen and (min-width: 1025px) {
  .homepage.details-restaurant {
    background-image: linear-gradient(
        to top left,
        var(--color-background-tint),
        var(--color-background-tint)
      ),
      url(../images/homepage/details-restaurant/background/details-restaurant-background_desk@1x.jpg);
  }
}

@media screen and (min-width: 1025px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  .homepage.details-restaurant {
    background-image: linear-gradient(
        to top left,
        var(--color-background-tint),
        var(--color-background-tint)
      ),
      url(../images/homepage/details-restaurant/background/details-restaurant-background_desk@2x.jpg);
  }
}

.restaurant-text-box {
  max-width: 259px;

  margin-left: auto;
  margin-bottom: 48px;
}

.homepage.restaurant-title {
  margin-bottom: 12px;

  font-family: 'FilmP3';

  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.homepage.restaurant-about {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.homepage.restaurant-description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--color-text-cloud);
}

@media screen and (min-width: 1024px) {
  .restaurant-text-box {
    max-width: 696px;
    margin-bottom: 40px;
  }

  .homepage.restaurant-title {
    font-size: 64px;
    margin-bottom: 16px;
  }

  .homepage.restaurant-about {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .homepage.restaurant-description {
    font-size: 16px;
    width: 610px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-text-box {
    margin-right: 161px;
  }
}

.homepage.gallery-list {
  height: 270px;

  display: flex;
  margin-left: 40px;
  margin-bottom: 16px;
}

.homepage.gallery-item {
  height: 270px;
}

@media screen and (max-width: 1023px) {
  .homepage.gallery-list {
    position: relative;
    gap: 20px;
  }

  .homepage.gallery-item {
    min-width: 274px;
    max-height: 270px;
  }
}

@media screen and (min-width: 1024px) {
  .homepage.gallery-list {
    margin-left: auto;
    margin-bottom: 24px;
    gap: 34px;
    width: 662px;
  }

  .homepage.gallery-item {
    width: 270px;
  }

  .homepage.gallery-item:not(:first-child) {
    width: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .homepage.gallery-list {
    transform: translateX(33px);
    min-width: 874px;
    gap: 86px;
  }

  .homepage.gallery-item:nth-child(n + 3) {
    width: 270px;
  }
}

.homepage.gallery-navigation-list {
  display: flex;

  margin-left: 40px;
  margin-bottom: 32px;
}

.gallery-navigation-item {
  width: 32px;
  height: 32px;
}

.homepage.arrow-left,
.homepage.arrow-right {
  fill: var(--color-white);
}

.homepage.arrow-left:hover,
.homepage.arrow-right:hover,
.homepage.arrow-left:active,
.homepage.arrow-right:active {
  fill: var(--color-accent);
}

.homepage.gallery-navigation-item:last-child {
  margin-left: 32px;
}

@media screen and (min-width: 1024px) {
  .homepage.gallery-navigation-list {
    margin-left: 265px;
    margin-bottom: 0;
  }
}

.homepage.order-btn-list {
  width: 241px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.homepage.order-btn,
.homepage.link-restaurant {
  margin-bottom: 16px;
  padding: 14px 24px;

  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--color-accent);
  background-color: var(--color-black);
  border: 2px solid var(--color-white);
  border-radius: 25px;
}

.homepage.link-restaurant {
  margin: 0;
  padding: 14px 30px;

  padding: auto;

  text-decoration: none;
}

.homepage.order-btn:hover,
.homepage.link-restaurant:hover,
.homepage.order-btn:focus,
.homepage.link-restaurant:focus {
  border-color: var(--color-accent);
  background-color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .order-btn-list {
    position: absolute;
    bottom: 56px;
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .order-btn-list {
    left: 85px;
  }
}
