<footer class="footer">
    <div class="container">
        <a class="main-logo" href="./index.html">mimino</a>
        <div class="footer-content">
            <ul class="footer-list">
                <li class="footer-margin">
                    <a class="footer-nav" href="./index.html">Головна</a>
                </li>
                <li class="footer-margin">
                    <a class="footer-nav" href="./restaurant.html">Ресторан</a>
                </li>
                <li>
                    <a class="footer-nav" href="./hotel.html">Готель</a>
                </li>
            </ul>
            <div class="social">
                <ul class="footer-svg">
                    <li>
                        <a class="btn-config-footer" href="#">
                            <svg class="social-btn-footer">
                                <use href="./images/icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="btn-config-footer" href="#">
                            <svg class="social-btn-footer">
                                <use href="./images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="btn-config-footer" href="#">
                            <svg class="social-btn-footer">
                                <use href="./images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="footer-list-social">
            <li class="footer-margin-tabd">
                <a class="footer-nav-tabd" href="#">Telegram
                    <svg class="btn-config-footer" width="24px" height="24px" >
                        <use href="./images/icons.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-margin-tabd">
                <a class="footer-nav-tabd" href="#">Facebook
                    <svg class="btn-config-footer" width="20px" height="20px" >
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-margin-tabd">
                <a class="footer-nav-tabd" href="#">Instagram
                    <svg class="btn-config-footer" width="24px" height="24px" >
                        <use href="./images/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>