.background-kitchen {
  background-color: var(--color-background-main);
}

.restaurant {
  padding-top: 16px;
  padding-bottom: 28px;
}

@media (min-width: 1024px) {
  .restaurant {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .restaurant {
    padding-top: 120px;
    padding-bottom: 39px;
  }
}

@media (min-width: 1024px) {
  .box-top {
    display: flex;
    max-width: 100%;
    align-items: center;
    position: relative;
  }
}

.decor-par {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--color-text-light);
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .decor-par {
    font-size: 32px;
    line-height: calc(37 / 32);
    margin-bottom: 4px;
  }
}

.rest-title {
  font-family: 'FilmP3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--color-text-dark);
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media (min-width: 1024px) {
  .rest-title {
    font-size: 64px;
    line-height: calc(69 / 64);
    margin-bottom: 24px;
  }
}

.rest-text {
  width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--color-text-base);
  margin-bottom: 28px;
}

@media (min-width: 1024px) {
  .rest-text {
    width: 439px;
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-right: 26px;
  }
}

@media (min-width: 1280px) {
  .rest-text {
    width: 518px;
  }
}

.man-img {
  margin-left: 155px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: 0;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .img-box {
    position: absolute;
    right: 65px;
    top: -150px;
  }
}

@media (min-width: 1280px) {
  .img-box {
    top: -150px;
    right: 100;
  }
}

.meet-img {
  margin-right: 20px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .meet-img {
    margin-top: 142px;
    margin-right: 48px;
  }
}

@media (min-width: 1280px) {
  .meet-img {
    margin-top: 162x;
    margin-right: 32px;
  }
}

.box-buttom {
  display: flex;
  align-items: center;
}

.rest-info {
  width: 163px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--color-text-brand);
}

@media (min-width: 1024px) {
  .rest-info {
    margin-top: 180px;
    width: 312px;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media (min-width: 1280px) {
  .rest-info {
    margin-top: 123px;
  }
}

.rest-swip-list {
  display: flex;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .rest-swip-list {
    overflow: visible;
    justify-content: flex-end;
  }
}

.carousel-wrapper {
  margin-top: 130px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.carousel-section.owl-carousel {
  width: 100%;
  max-width: 60%;
  margin-top: 30px;

  .owl-stage-outer {
    margin-bottom: 27px;
  }

  .owl-nav {
    text-align: right;

    button {
      width: 30px;
      height: 17px;
      border: none;
      outline: none;
      box-shadow: none;
      display: inline-block;
      background: url('/src/images/slider/slider-arrow.svg') no-repeat center;
      background-size: cover;
      margin-right: 40px;

      span {
        display: none;
      }

      &.disabled {
        opacity: 0.3;
      }

      &.owl-next {
        margin: 0;
        transform: rotate(180deg);
      }
    }
  }
}

.carousel-section.owl-carousel {
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .carousel-section.owl-carousel {
    margin-top: -30px;
  }
}

@media (max-width: 1280px) {
  .carousel-section.owl-carousel {
    margin-top: -100px;
  }
}
