.restaurant-hero-first{
    height: 740px;
    padding-top: 64px;
    padding-bottom: 21px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
    );
     /* Mobile screen <=414px */
     /*background-image: 
     url(/src/images/homepage/hero/hero-img_mob@1x.jpg);*/
     background-image:  linear-gradient(180deg, #000000 0%, 
     rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%),
   url(/src/images/homepage/hero/hero-img_mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.restaurant-hero-first {
   /*background-image: 
     url(/src/images/homepage/hero/hero-img_mob@2x.jpg);*/
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), 
     rgba(0, 0, 0, 0.65)), 
     url(/src/images/homepage/hero/hero-img_mob@2x.jpg);
    }
}
/* Mobile screen >=414px */
@media screen and (min-width:414px) {
    .restaurant-hero-first {
        background-image:  linear-gradient(180deg, #000000 0%, 
     rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%),
        url(/src/images/homepage/hero/hero-img_tab@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 414px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 414px),
screen and (min-resolution: 192dpi) and (min-width: 414px),
screen and (min-resolution: 2dppx) and (min-width: 414px) {
    .restaurant-hero-first {
        background-image:  linear-gradient(180deg, #000000 0%, 
     rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%),
        url(/src/images/homepage/hero/hero-img_tab@2x.jpg);
    }
}
/* screen >1024px */
@media screen and (min-width:1024px) {
    .restaurant-hero-first {
        background-image:  linear-gradient(180deg, #000000 0%, 
     rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%),
        url(/src/images/homepage/hero/hero-img_desk@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
screen and (min-resolution: 192dpi) and (min-width: 1024px),
screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .restaurant-hero-first {
        background-image:  linear-gradient(180deg, #000000 0%, 
     rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%),
        url(/src/images/homepage/hero/hero-img_desk@2x.jpg);
    }
}
@media screen and (min-width:414px){
.container-hero-first {
    padding-left: 0;
    padding-right: 0;
}
}
@media screen and (min-width:1024px){
    .container-hero-first {
        padding-top: 88px;
    }
}
.hero-restaurant-first {
    border-color: #F3C653;
    margin-left: 189px;
    width: 210px;
    height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    margin-bottom: 70px;
}
@media screen and (min-width:1024px){
    .hero-restaurant-first {
        position: absolute;
        margin-top: 570px;
        margin-bottom: 64px;
        margin-left: 47px;
        margin-right: 692px;
        width: 285px;
        height: 56px;
    }
}
.map-pic-hero-restaurant {
    position: absolute;
    padding-top: 13px;
    padding-left: 5px;
    padding-bottom: 14px;
}
@media screen and (min-width:1024px){
    .hero-restaurant-svg {
        padding-right: 5px;
    }
}
.hero-restaurant-svg {
    fill: #F3C653;
}
@media screen and (min-width:1024px){
    .hero-restaurant-svg {
    width: 24px;
    height: 24px;
    }
}
.adress-hero-restaurant {
    color: #E5E5E5;
    padding-left: 28px;
    display: flex;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 12px;
    line-height: 15px;
    height: 47px;
    padding-top: 8px;
    padding-bottom: 9px;
}
@media screen and (min-width:1024px){
    .adress-hero-restaurant {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #E5E5E5;  
    }
}
.hero-restaurant-title {
    letter-spacing: .3em;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: FilmP3;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.08333;
    width: 303px;
    height: 103px;
    margin: auto;
    margin-bottom: 24px;
}
@media screen and (min-width:1024px){
    .hero-restaurant-title {
    width: 404px;
    height: 138px;
    font-size: 128px;
    margin-bottom: 16px;
    }
}
.hero-restaurant-name-service {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
}
@media screen and (min-width:1024px){
    .hero-restaurant-name-service {
    font-size: 20px;
    margin-bottom: 56px;
    }
}
.hero-restaurant-name-service-sl {
    text-align: center;
    height: 37px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 113px;
}
@media screen and (min-width:1024px){
    .hero-restaurant-name-service-sl {
        font-size: 36px;
        margin-bottom: 145px;
    }
}
.hero-restaurant-buttons {
    text-align: center;
}
@media screen and (min-width:1024px){
    .hero-restaurant-buttons {
        display: flex;
    }
}
.button-style-hero-restaurant {
    box-sizing: border-box;
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #F3C653;
}
@media screen and (min-width:1024px){
    .button-style-hero-restaurant {
    background: #000000;
    position: absolute;
    margin-left: 475px;
    column-gap: 40px;
    row-gap: 40px ;
    }
} 
.social-media-hero-restaurant {
    display: flex;
    gap: 24px;
    width: 112px;
    height: 24px;
    margin-top: 34px;
    padding-left: 15px;
}
@media screen and (min-width:1024px){
    .social-media-hero-restaurant {
        position: absolute;
        margin-top: auto;
        margin-left: 47px;
        padding-left: 0px;
    }
}
.hero-restaurant-svg{
    fill: rgba(243, 198, 83, 0.7);
}
