<section class="about-restaurant-section">
  <div class="container about-restaurant-container">
    <div class="about-restaurant-top">
      <div class="thumb">
        <p class="about-restaurant-little-title">Amet minim mollit non</p>
        <h2 class="about-restaurant-title">MIMIHO</h2>
        <p class="about-restaurant-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="about-restaurant-first-picture"
        srcset="
          ./images/homepage/about-restaurant/about-restaurant-1_244.jpg 244w,
          ./images/homepage/about-restaurant/about-restaurant-1_488.jpg 488w,
          ./images/homepage/about-restaurant/about-restaurant-1_400.jpg 400w,
          ./images/homepage/about-restaurant/about-restaurant-1_800.jpg 800w,
          ./images/homepage/about-restaurant/about-restaurant-1_460.jpg 460w,
          ./images/homepage/about-restaurant/about-restaurant-1_920.jpg 920w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
        src="./images/homepage/about-restaurant/about-restaurant-1_460.jpg"
        alt="Повар"
        width="460"
        height="574"
      />
    </div>
    <div class="about-restaurant-bottom">
      <picture>
        <source
          srcset="
            /src/images/homepage/about-restaurant/about-restaurant-2_460.jpg 1x,
            /src/images/homepage/about-restaurant/about-restaurant-2_920.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
          height="574"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/about-restaurant-2_350.jpg 1x,
            /src/images/homepage/about-restaurant/about-restaurant-2_700.jpg 2x
          "
          media="(min-width: 1024px)"
          width="350"
          height="500"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/about-restaurant-2_200.jpg 1x,
            /src/images/homepage/about-restaurant/about-restaurant-2_400.jpg 2x
          "
          media="(max-width: 414px)"
          width="200"
          height="278"
        />
        <img
          src="/src/images/homepage/about-restaurant/about-restaurant-2_200.jpg"
          alt="about restaurant second picture"
          width="200"
          class="about-restaurant-second-picture"
        />
      </picture>
      <p class="about-restaurant-image-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-restaurant-slider">
      <picture>
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_254.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_508.jpg 2x
          "
          media="(min-width: 1280px"
          width="254"
          height="254"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_194.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_388.jpg 2x
          "
          media="(min-width: 1024px"
          width="194"
          height="194"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_245.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_490.jpg 2x
          "
          media="(max-width: 414px)"
          width="245"
          height="245"
        />
        <img
          src="/src/images/homepage/about-restaurant/slider/about-restaurant-slider-1_245.jpg"
          alt="about restaurant first slider"
          class="about-restaurant-slider-picture"
        />
      </picture>
      <picture>
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_254.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_508.jpg 2x
          "
          media="(min-width: 1280px"
          width="254"
          height="254"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_194.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_388.jpg 2x
          "
          media="(min-width: 1024px"
          width="194"
          height="194"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_245.jpg 1x,
            /src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_490.jpg 2x
          "
          media="(max-width: 414px)"
          width="245"
          height="245"
        />
        <img
          src="/src/images/homepage/about-restaurant/slider/about-restaurant-slider-2_245.jpg"
          alt="about restaurant second slider"
          class="about-restaurant-slider-picture"
        />
      </picture>
    </div>
    <div class="about-restaurant-arrows">
      <svg width="32px" height="32px">
        <use href="/src/images/icons.svg#arrow-left"></use>
      </svg>
      <svg width="32px" height="32px">
        <use href="/src/images/icons.svg#arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
