<section class="about-hotel">
    <div class="about container">
    <div class="about-hotel-box">
     <p class="header-about-hotel"> Amet minim mollit non </p>
     <p class="about-hotel-logo">MIMINO</p>
     <p class="about-hotel-first-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
     </div>
    <div class="about-hotel-first-image">
        <picture>
        <source 
        media="(min-width:1280px)" 
        srcset="/src/images/homepage/about-hotel/about-hotel-1_460.jpg">
        <source 
        media="(min-width:1024px)" 
        srcset="/src/images/homepage/about-hotel/about-hotel-1_400.jpg">
        <source 
        media="(min-width:414px)" 
        srcset="/src/images/homepage/about-hotel/about-hotel-1_244.jpg">
        <img class="about-image"
        src="/src/images/homepage/about-hotel/about-hotel-1_460.jpg"
        alt="Фотографія номеру"

     />
     </picture>
    </div>
    <p class="about-hotel-second-text"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="about-hotel-second-image">
        <picture>
            <source 
            media="(min-width:1280px)" 
            srcset="/src/images/homepage/about-hotel/about-hotel-2_460.jpg">
            <source 
            media="(min-width:1024px)" 
            srcset="/src/images/homepage/about-hotel/about-hotel-2_350.jpg">
            <source 
            media="(min-width:414px)" 
            srcset="/src/images/homepage/about-hotel/about-hotel-2_200.jpg">
            <img class="about-image"
            src="/src/images/homepage/about-hotel/about-hotel-2_460.jpg"
            alt="Фотографія холу"

         />
         </picture>
    </div>
    <div class="slider-about-hotel-box">
    <div class="slider-about-hotel">
      <div class="slider-about-hotel-image">
        <picture>
            <source 
            media="(min-width:1280px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-1_254.jpg">
            <source 
            media="(min-width:1024px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-1_194.jpg">
            <source 
            media="(min-width:414px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-1_245.jpg">
        <img class="slider-image"
        src="/src/images/homepage/about-hotel/slider/about-hotel-slider-1_254.jpg"
        alt="Фотографія рецепції"

        />
       </picture>
      </div>
      <div class="slider-about-hotel-image"> 
        <picture>
            <source 
            media="(min-width:1280px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-2_254.jpg">
            <source 
            media="(min-width:1024px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-2_194.jpg">
            <source 
            media="(min-width:414px)" 
            srcset="/src/images/homepage/about-hotel/slider/about-hotel-slider-2_245.jpg">
        <img class="slider-image"
        src="/src/images/homepage/about-hotel/slider/about-hotel-slider-1_254.jpg"
        alt="Фотографія спа"

        />
       </picture>
      </div>
</div>
        <button class="about-hotel-slider-button">
          <svg class="svg-about-hotel">
            <use href="/src/images/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="about-hotel-slider-button">
          <svg class="svg-about-hotel">
            <use href="/src/images/icons.svg#arrow-right"></use>
          </svg>
        </button>
    </div>
    </div>
    </div>
</section>