<section class="homepage details-restaurant">
  <div class="container details-restaurant-box">
    <div class="homepage restaurant-text-box">
      <h2 class="homepage restaurant-title">MIMIHO</h2>
      <h3 class="homepage restaurant-about">Ресторан</h3>
      <p class="homepage restaurant-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <ul class="gallery-list homepage">
      <li class="gallery-item homepage">
        <img
          width="274"
          height="270"
          srcset="
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_274.jpg 274w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_548.jpg 548w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_270.jpg 270w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_540.jpg 540w
          "
          sizes="(min-width: 1280px) 270px, (min-width: 1024px) 270px, (min-width: 414px) 274px, 100vw"
          src="./images/homepage/details-restaurant/slider/details-restaurant-slider-1_274.jpg"
          alt="Steak"
        />
      </li>
      <li class="gallery-item homepage">
        <img
          width="274"
          height="270"
          srcset="
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_274.jpg 274w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_548.jpg 548w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_162.jpg 162w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_324.jpg 324w
          "
          sizes="(min-width: 1280px) 162px, (min-width: 1024px) 162px, (min-width: 414px) 274px, 100vw"
          src="./images/homepage/details-restaurant/slider/details-restaurant-slider-2_274.jpg"
          alt="Barbeque"
        />
      </li>
      <li class="gallery-item homepage">
        <img
          width="274"
          height="270"
          srcset="
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_162.jpg 162w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_324.jpg 324w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_270.jpg 270w,
            ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_540.jpg 540w
          "
          sizes="(min-width: 1280px) 270px, (min-width: 1024px) 162px, 100vw"
          src="./images/homepage/details-restaurant/slider/details-restaurant-slider-3_162.jpg"
          alt="Healthy Food"
        />
      </li>
    </ul>
    <ul class="gallery-navigation-list homepage">
      <li class="gallery-navigation-item homepage">
        <button class="btn arrow-left homepage" type="button">
          <svg width="32px" height="32px">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="gallery-navigation-item homepage">
        <button class="btn arrow-right homepage" type="button">
          <svg width="32px" height="32px">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="order-btn-list homepage">
      <button class="btn order-btn homepage" type="button">
        Забронювати столик
      </button>
      <a class="link-restaurant homepage" href="./restaurant.html"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
