<section class="homepage details-restaurant">
  <div class="container details-restaurant-box">
    <div class="homepage restaurant-text-box">
      <h2 class="homepage restaurant-title">MIMIHO</h2>
      <h3 class="homepage restaurant-about">Ресторан</h3>
      <p class="homepage restaurant-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <ul class="gallery-list homepage">
      <li class="gallery-item homepage">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_274.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_548.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_270.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_540.jpg 2x
            "
          />

          <img
            class="restaurant-descr-img"
            width="274"
            height="270"
            sizes="(min-width: 1280px) 270px, (min-width: 1024px) 162px, 100vw"
            src="./images/homepage/details-restaurant/slider/details-restaurant-slider-1_274.jpg"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_274.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-1_548.jpg 2x
            "
            alt="Steak"
          />
        </picture>
      </li>
      <li class="gallery-item homepage">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_274.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_548.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_162.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_324.jpg 2x
            "
          />

          <img
            class="restaurant-descr-img"
            width="274"
            height="270"
            sizes="(min-width: 1280px) 270px, (min-width: 1024px) 162px, 100vw"
            src="./images/homepage/details-restaurant/slider/details-restaurant-slider-2_274.jpg"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_274.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-2_548.jpg 2x
            "
            alt="Barbeque"
          />
        </picture>
      </li>
      <li class="gallery-item homepage">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_270.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_540.jpg 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_162.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_324.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_270.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_540.jpg 2x
            "
          />
          <img
            class="restaurant-descr-img"
            width="274"
            height="270"
            sizes="(min-width: 1280px) 270px, (min-width: 1024px) 162px, 100vw"
            src="./images/homepage/details-restaurant/slider/details-restaurant-slider-3_162.jpg"
            srcset="
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_162.jpg 1x,
              ./images/homepage/details-restaurant/slider/details-restaurant-slider-3_324.jpg 2x
            "
            alt="Healthy Food"
          />
        </picture>
      </li>
    </ul>
    <ul class="gallery-navigation-list homepage">
      <li class="gallery-navigation-item homepage">
        <button class="btn arrow-left homepage" type="button">
          <svg width="32px" height="32px">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="gallery-navigation-item homepage">
        <button class="btn arrow-right homepage" type="button">
          <svg width="32px" height="32px">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="order-btn-list homepage">
      <button
        class="btn order-btn homepage js-open-modal"
        type="button"
        data-modal="table"
      >
        Забронювати столик
      </button>
      <a class="link-restaurant homepage" href="./restaurant.html"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
